h1 Rush Hour
p#status

#content
  ul#game-stats
    li Perfect score: 
      span.value 15
    li#timer
    li Moves: 
      span#moves.value 0
  #game
    .exit
  p Click and drag the cars to guide the green car to the exit.
