body{
  font-family: "Helvetica";
  text-align: center;
  padding: 20px 20px 0;
  background: #f4f4f7;
  color: #444;
  margin: 0;
  padding: 0;
  padding-top: 10px;
}

h1{
  font-size: 46px;
  line-height: 1.2em;
  padding: 10px 0;
  margin-top: 0px;
  margin-bottom: 10px;
}

h3{
  font-weight: 300;
}
#content {
  padding: 40px;
  padding-bottom: 20px;
  background-color: white;
}
#status { font-weight: bold; }
#game {
  position: relative;
  background-color: white;
  width: 480px;
  height: 480px;
  margin: 0 auto;
  margin-bottom: 40px;
  .car { cursor: pointer; }
  .exit {
    position: absolute;
    right: -42px;
    font-weight: bold;
    top: 190px;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    filter: none;
    &:after { content: 'EXIT' }
  }
}
#game-stats {
  margin: 0px;
  padding: 0px;
  li {
    margin: 0px;
    list-style: none;
    display: inline-block;
    width: 157px;
    &:first-child {
      text-align: left;
    }
    &:last-child {
      text-align: right;
    }
    .value {
      font-weight: bold;
    }
  }
  #timer { font-weight: bold; }
}
#content .wrapper { width: 600px; margin: 0 auto; text-align: left; }
p.question { font-weight: bold; }
table.radios {
  tr td {
    text-align: center;
    &:first-child {
      text-align: left;
    }
  }
  th { text-align: center; width: 33px; font-weight: normal; }
}

#content-wrapper {
  width: 680px;
  margin: 0 auto;
}
#game-info { float: left; }
#game-wrapper { float: right; }
#game-info table { width: 174px; }
