doctype
html
  head
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
    link(rel="stylesheet" href="css/main.css")
    meta(name="robots" content="NOINDEX, NOFOLLOW")
    script(src="/js/zepto.min.js" charset="utf-8")
    title Rush Hour Survey
  body
    h3 Rush Hour Survey
    #content
      != yield

