doctype
html
  head
    link(rel="stylesheet" href="css/main.css")
    script(src="http://d3js.org/d3.v3.min.js" charset="utf-8")
    script(src="http://momentjs.com/downloads/moment.min.js" charset="utf-8")
    script(src="/js/zepto.min.js" charset="utf-8")
    meta(name="robots" content="NOINDEX, NOFOLLOW")
  body
    p Click on the square area below to start the game
    p#status
    p#status2
    #content
      ul#game-stats
        li Perfect score: 
          span#perfect-score.value
        li#timer
        li Moves: 
          span#moves.value 0
      #game(data-level=level, data-identifier=identifier)
        .exit
      p Click and drag the cars to guide the green car to the exit.
      if next_level != "33"
        p
          a(href="/"+next_level) Next level
    script(src="js/puzzle.js")
