doctype
html
  head
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
    link(rel="stylesheet" href="css/main.css")
    script(src="http://d3js.org/d3.v3.min.js" charset="utf-8")
    script(src="http://momentjs.com/downloads/moment.min.js" charset="utf-8")
    script(src="/js/zepto.min.js" charset="utf-8")
    meta(name="robots" content="NOINDEX, NOFOLLOW")
  body
    p Door op het grijze vlak hieronder te klikken wordt de puzzel gestart.
    p Klik en sleep de blokken (auto's) om de het groene blok naar de exit te brengen.

    p#status
    #content
      #content-wrapper.clearfix
        #game-info
          if level < 5
            p Oefenlevels
            table.table.table-striped
              each val in [1, 2, 3, 4]
                tr
                  th Score puzzel #{val}
                  td.load-score(data-level= val)
              tr
                th Totaalscore
                td#practicescore
          else
            table.table.table-striped
              each val in [1, 2, 3, 4, 5, 6]
                tr
                  th Score puzzel #{val}
                  td.load-score(data-level= val+4)
              tr
                th Totaalscore
                td#realscore
              tr
                th Doel
                td +
                  span#target

          script.
            $('.load-score').each(function() {
              var level = $(this).attr('data-level');
              $(this).load('/score/'+level);
            });
            $('#practicescore').load('/score');
            $('#target').load('/target');
            $('#realscore').load('/info');


        #game-wrapper
          ul#game-stats
            li Perfect score: 
              span#perfect-score.value
            li#timer
            li Moves: 
              span#moves.value 0
          #game(data-level=level, data-identifier=identifier)
            .exit

      p#status2

      if next_level == "5"
        p
          a#volgende.hidden.btn.btn-primary(href="/part2") Verder
      else if next_level == "11"
        p
          a#volgende.hidden.btn.btn-primary(href="/part4") Verder
      else
        p
          a#volgende.hidden.btn.btn-primary(href="/"+next_level) Volgende level
    script(src="js/puzzle.js")
