.wrapper
  p Beste Deelnemer,

  p U staat op het punt om het spel Rush Hour te spelen. Allereerst krijgt u vier puzzels om te begrijpen hoe het spel werkt. Probeer deze vragen geconcentreerd te maken. Vervolgens krijgt u zes puzzels die u zo goed mogelijk dient te maken. Met de deelname aan dit spel kunt u een overhemd bij oger samen met het vermaken van uw pak winnen twv: €150 (voor mannen) of bon bij de bijenkorf twv: €150 (voor vrouwen). Na de oefenvragen zal worden uitgelegd hoe u deze prijs kunt winnen.

  p De performance wordt gemeten door het aantal zetten die u doet min het aantal zetten die nodig zijn voor de perfecte score. Het is de bedoeling om in zo weinig mogelijk zetten, maar binnen de tijd de puzzel af te maken. Hoelang u over het oplossen van de puzzel doet heeft geen invloed op uw score. Allereerst krijgt u vier oefenvragen om het spel te begrijpen. Per vraag krijg je 3 minuten de tijd, als het je niet lukt om de puzzel binnen de tijd op te lossen dan krijg je een score van +20 voor die vraag. Hierbij werkt de score net zoals bij midgetgolf, per vraag kan je maximaal +x halen. Een goede performance is dus een lage score.

  p De informatie die u invult is strikt vertrouwelijk en zal niet verspreid worden. Aan het einde van dit onderzoek wordt gevraagd om uw email adres in te vullen. Dit is nodig om te controleren dat u dit spel maar een keer speelt en om u de prijs te overhandigen.

  form#input-form(action="/step1" method="POST")
    p.question Geef aan in hoeverre u het eens bent met de volgende stellingen:
    table.table.table-striped.radios
      tr
        th
        th 1 (helemaal mee oneens)
        th 2
        th 3
        th 4
        th 5
        th 6
        th 7 (helemaal mee eens)
      tr
        td Ik ben bekend met het spel Rush Hour
        each val in [1,2,3,4,5,6,7]
          td
            input(type="radio" name="vraag1" value=val required)
      tr
        td Ik heb het spel Rush Hour vaak (ook vroeger) gespeeld
        each val in [1,2,3,4,5,6,7]
          td
            input(type="radio" name="vraag2" value=val required)
      tr
        td Ik verwacht dat ik goed ben in het spel Rush Hour
        each val in [1,2,3,4,5,6,7]
          td
            input(type="radio" name="vraag3" value=val required)
    p.question Vul hieronder uw naam in (optioneel, mag leeg gelaten worden):
    .field
      input#input-name(placeholder="Vul hier uw naam in" name="name" type="text")
    br
    p Als u op de onderstaande knop klikt zullen de eerste vier (oefen) puzzels verschijnen
    p
      input#form-submit(type="submit" value="Verder")
