.wrapper
  p#global
  script.
    $('#global').load('/info')
  p.question Geef aan in hoeverre jij het eens bent met de volgende stelling:
  form(action="/step4" method="POST")
    mixin radios
      table.table.table-striped.radios
        tr
          th
          th 1 (helemaal mee oneens)
          each val in [2, 3, 4, 5, 6]
            th= val
          th 7 (helemaal mee eens)
        block
    mixin row(n, question)
      tr
        td= question
        each val in [1, 2, 3, 4, 5, 6, 7]
          td
            input(type="radio" name="vraag#{n}" value=val)
    +radios
      +row(1, "Ik was geconcentreerd tijdens het maken van de puzzels")
      +row(2, "Ik vond de puzzels moeilijk")
      +row(3, "Ik ben tevreden met het behaalde resultaat")
      +row(4, "Ik heb mijn best gedaan om het voor mij gezette doel te halen")
      +row(5, "De lengte van de test was goed")
      +row(6, "De beloning zorgde ervoor dat ik beter mijn best deed")
      +row(7, "De waarde van de beloning was motiverend")
      +row(8, "Er is niets dat ik liever zou doen dan het spel Rush Hour spelen")
      +row(9, "Ik zou het spel Rush Hour vaker spelen als ik de tijd ervoor had")

    p.question (Overige) opmerkingen
    .field
      input(type="text" name="vraag10")


    h3 Algemene informatie
    p Heel erg bedankt voor het maken van mijn onderzoek!

    p Kunt u als laatst nog een paar algemene vragen beantwoorden

    p.question Geslacht
    .field
      input(type="radio" name="vraag11" value="man")
      |  Man
    .field
      input(type="radio" name="vraag11" value="vrouw")
      |  Vrouw
    br
    p.question Leeftijd
    .field
      input(type="text" name="vraag12" placeholder="Vul hier uw leeftijd in")
    br
    p.question Hoogst afgeronde opleiding
    .field
      input(type="radio" name="vraag12" value="middelbare school")
      |  Middelbare school
    .field
      input(type="radio" name="vraag12" value="HBO")
      |  HBO
    .field
      input(type="radio" name="vraag12" value="WO - bachelor")
      |  WO - bachelor
    .field
      input(type="radio" name="vraag12" value="WO - master")
      |  WO - master
    .field
      input(type="radio" name="vraag12" value"post-doctoraal")
      |  Post-doctoraal
    br
    p.question Wat is uw geboorteplaats
    .field
      input(type="text" name="vraag13" placeholder="Uw geboorteplaats")
    br
    p.question Hoe lang bent u werkzaam binnen het bedrijf waar u werkt?
    .field
      input(type="radio" name="vraag14" value="student")
      |  Student
    .field
      input(type="radio" name="vraag14" value="stagair")
      |  Stagair
    .field
      input(type="radio" name="vraag14" value="0-2 jaar werkzaam")
      |  0-2 jaar werkzaam
    .field
      input(type="radio" name="vraag14" value="3-4 jaar werkzaam")
      |  3-4 jaar werkzaam
    .field
      input(type="radio" name="vraag14" value="5-6 jaar werkzaam")
      |  5-6 jaar werkzaam
    .field
      input(type="radio" name="vraag14" value="7-10 jaar werkzaam")
      |  7-10 jaar werkzaam
    .field
      input(type="radio" name="vraag14" value="meer dan 10 jaar werkzaam")
      |  Meer dan 10 jaar werkzaam
    br
    p.question Als u geïnteresseerd bent in de uitkomsten van mijn onderzoek dan kunt u dat hier aangeven
    .field
      input(type="radio" name="vraag15" value="Ik ben benieuwd naar de uitkomsten")
      |  Ik ben benieuwd naar de resultaten van het onderzoek
    .field
      input(type="radio" name="vraag15" value="Nee, bedankt")
      |  Nee, bedankt
    br
    p.question Email adres
    p Deze is nodig als u in aanmerking wilt komen voor de prijs, of als u geïnteresseerd bent in de uitkomsten van mijn onderzoek
    .field
      input(type="text" name="vraag16" placeholder="Email adres")
    h3 Dankuwel
    p Dit was het einde van het experiment, bedankt voor uw deelname en belangrijk; vertel niet aan uw collega’s hoe dit experiment in elkaar zit voordat ze aan het experiment hebben deelgenomen. Dit kan ervoor zorgen dat de resultaten van het experiment niet kloppen. Klik hieronder om uw inzending af te ronden.
    .field
      input(type="submit" value="Resultaten opslaan en verzenden")
